<div class="p-8 bg-grey-light h-screen">

  <%= form_with scope: :idea, url: ideas_path, local: true do |form| %>

    <a href="<%= root_path %>" class="flex items-center mb-8 text-sm">
      <i class="material-icons">arrow_back</i>
      Back to ideas
    </a>
    
    <div class="form__group">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="form__group">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>
    
    <%= form.submit %>

  <% end %>

</div>
